.content {
  position: relative;
  display: flex;
	align-items: flex-start;

	@media screen and (max-width: 800px) {
		display: block;
	}

  > * {
		position: relative;
    background-color: #fff;
  }
	
	> *:first-child {
		padding: 1.3825rem 0 1rem;

		@media screen and (max-width: 800px) {
			padding: 0;
		}
	}
	
	> *:last-child {
		padding: 2.23rem 1.35rem 1rem;

		@media screen and (max-width: 800px) {
			padding: 0;
		}
	}

  > * + * {
    margin-left: 6px;

		@media screen and (max-width: 800px) {
      margin-left: 0;
    }
  }

}
