.wrapper {
  grid-area: video-options;
  padding: 6px 6px 0 0;
}

.videoOptions {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 5px 3px 0;
}

.modeList {
  border: 0.8px dashed #8a8a8a;
  border-radius: 6px;

	> li {
		height: 2.1rem;
		font: 400 0.875rem / 1 var(--font-nunito);
		display: grid;
		place-items: center;
		text-align: center;
		cursor: pointer;
		user-select: none;

		&.active {
			color: white;
			background-color: var(--side-color);
		}
	}
}
