.graphsHeader {
  background-color: #fff;
  padding: 0.4375rem 0;
  position: sticky;
  top: -1px;
	z-index: 2;

  > .header {
		color: #1a4c96;
		font: 700 1.125rem var(--font-nunito);
		text-align: center;
		user-select: none;
	
		@media screen and (orientation: landscape) and (max-height: 950px) {
			line-height: .8;
		}
	}
}

.title {
  padding: 0 0.5625rem;
  font: 700 0.875rem / 1.8 var(--font-nunito);
	user-select: none;
}

.highTitle {
	line-height: 3.8;
}