.header {
  position: relative;

  > *:nth-child(3) {
    margin-top: 1rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 12.8125rem;
      top: -0.25rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000;
    }
  }
}

.portraitTextWrapper {
  margin-top: 2px;
  display: flex;
  column-gap: 0.4375rem;
}

.topRight {
  margin-top: 0px;
  flex: 1;

  > .rects {
		> div {
			font-size: .5rem;
			line-height: 1.2;
		}

    > * + * {
      margin-left: 6px;
    }
  }
}

.portrait {
  width: 42px;
  height: 42px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;

  > img {
    position: absolute;
		width: 100%;
    // top: -2px;
    // left: -100%;
    // transform: translateX(40%);
    // width: 65px;
  }

  > img.default {
    top: 0;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
  }
}

.text {
  font: 300 0.875rem var(--font-nunito);
  line-height: 0.9375rem;
  flex: 1 1;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 6px;
  line-height: 0;
}

.rects {
  display: flex;
  padding-top: 1px;
}
