.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10px;

	> *:first-child {
		flex: 1 0;
	}
}

.portrait {
  margin-top: 4px;
}

.playerName {
  font: 700 0.875rem var(--font-nunito);
  line-height: 1.36rem;
  text-align: justify;
}

.text {
  font: 400 0.875rem var(--font-nunito);
  line-height: 1.36rem;
  text-align: justify;
}

.bottom {
  display: flex;
  align-items: flex-end;

  > *:last-child {
    margin-left: auto;
  }
}