.filterPlayerField {
  position: absolute;
  top: -45px;
  // top: -19px;
  left: 0;
  border: 0.5px solid #b9b9b9;
  border-radius: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: none;
  padding-left: 12px;
  padding-right: 25px;
  background: no-repeat white url('/images/player_filter_icon.png') right 6px bottom 50% / 15px;
  font: 400 0.875rem / 28px var(--font-nunito);
  width: 218px;

  @media screen and (max-width: 800px) {
    top: 0.5px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 15px;
    // background: no-repeat white url('/images/player_filter_icon.png') right 6px bottom 50% / 13px;
		background-size: 13px;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		top: 1px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 15px;
    // background: no-repeat white url('/images/player_filter_icon.png') right 6px bottom 50% / 13px;
		background-size: 13px;
  }
}

.noPlayerFiltered {
  // background: no-repeat #ffd1d1 url('/images/player_filter_icon.png') right 6px bottom 50% / 15px;

  // @media screen and (max-width: 800px) {
  //   background: no-repeat #ffd1d1 url('/images/player_filter_icon.png') right 6px bottom 50% / 13px;
  // }
  // @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
  //   background: no-repeat #ffd1d1 url('/images/player_filter_icon.png') right 6px bottom 50% / 13px;
  // }
	background-color: #ffd1d1;
}
