.legendWrapper {
  position: absolute;
  bottom: 0.1rem;
	left: 0;
  padding: 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.legendItem {
  display: flex;
  align-items: center;
  font: 300 0.625rem var(--font-nunito);

  > svg {
    margin-right: 0.3rem;
  }

  + .legendItem {
    margin-left: .61rem;
  }
}
