.optionsBar {
  height: 27px;
  width: 100%;
  padding: 0 5px 0 13px;
  border-bottom: 0.5px solid #cdcccc;
  line-height: 1;
  justify-content: space-between;

	&.noVideo {
    padding: 0 13px;
		display: block;
  }
}

.onlyPortraitMobile {
  display: none;

  @media screen and (max-width: 800px) {
    display: flex;
  }
}

.scoreInfo {
  height: 100%;
  display: flex;

  &.noVideo {
		justify-content: space-between;

		> .team:last-child {
			flex-direction: row-reverse;

			> span:first-child {
				margin-left: 9px;
			}
			> span:last-child {
				margin-left: 0;
			}
		}
  }
}

.team {
  display: flex;
  align-items: center;

  > span + span {
    margin-left: 9px;
  }

  & + .team {
    margin-left: 24px;
  }
}

.teamName {
  font: 400 14px var(--font-nunito);
}

.teamScore {
  padding-top: 1px;
  font: 700 20px var(--font-comfortaa);
}