.graph {
  aspect-ratio: 940 / 365;
  background-color: white;
}

.leftTitle,
.bottomTitle {
  font: 700 0.875rem var(--font-nunito);
  fill: black;
  user-select: none;
}

.leftTitle {
  text-anchor: start;
  transform-box: fill-box;
  transform: rotateZ(270deg);
}

.bottomValue,
.leftValue {
  font: 300 0.875rem var(--font-nunito);
  fill: black;
  user-select: none;
}

.bottomValue {
  text-anchor: middle;
}

.leftValue {
  text-anchor: end;
}

.graphColumn {
  transition: y .3s, height .3s, fill .3s;
}
