.wrapper {
	aspect-ratio: 940 / 365;
	background-color: white;

	@media screen and (max-width: 800px) {
		aspect-ratio: 470 / 365;
		overflow-x: scroll;
		position: relative;
	}
}

.innerWrapper {
	width: 100%;
	height: 100%;

	@media screen and (max-width: 800px) {
		overflow-x: scroll;
		position: relative;
	}
}

.graph {
	width: 100%;
	
	@media screen and (max-width: 800px) {
		width: 200%;
	}
}

.leftTitle,
.bottomTitle {
  font: 700 0.875rem var(--font-nunito);
  fill: black;
  user-select: none;
}

.leftTitle {
  text-anchor: start;
  transform-box: fill-box;
  transform: rotateZ(270deg);
}

.bottomValue,
.leftValue {
  font: 300 0.875rem var(--font-nunito);
  fill: black;
  user-select: none;
}

.bottomValue {
	text-anchor: middle;
}

.leftValue {
	text-anchor: end;
}

.footerWrapper {
	// @media screen and (max-width: 800px) {
	// 	display: none;
	// }
}

.mobileFooterWrapper {
	display: none;

	@media screen and (max-width: 800px) {
		display: block;
		bottom: 0;
		left: 0;
	}
}

.footerValue {
	font: 300 0.75rem var(--font-nunito);
  text-anchor: start;
	fill: black;
  user-select: none;
}

.graphColumn {
  transition: y 0.3s, height 0.3s, fill 0.3s;
}

.arrowBtn {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) scale(1.4);
	z-index: 1;
	opacity: .8;

	@media screen and (max-width: 800px) {
    display: inline-block;
  }
}

.leftArrowBtn {
	left: 8px;
}

.rightArrowBtn {
	right: 8px;
}
