.wrapper {
	aspect-ratio: 940 / 365;

	@media screen and (orientation: portrait) and (max-width: 800px) {
		aspect-ratio: 376 / 365;
	}
}

.graph {
	width: 100%;
	
	@media screen and (orientation: portrait) and (max-width: 800px) {
		width: 200%;
	}
}

.leftTitle,
.bottomTitle {
  font: 700 0.875rem var(--font-nunito);
  fill: black;
  user-select: none;

	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		font-size: 1.1rem;
	}
}

.leftTitle {
  text-anchor: start;
  transform-box: fill-box;
  transform: rotateZ(270deg);
}

.bottomValue,
.leftValue {
  font: 300 0.875rem var(--font-nunito);
  fill: black;
  user-select: none;

	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		font-size: 1rem;
	}
}

.bottomValue {
	text-anchor: middle;
}

.leftValue {
	text-anchor: end;
}

.footerWrapper {
	@media screen and (orientation: portrait) and (max-width: 800px) {
		display: none;
	}
}

.mobileFooterWrapper {
	display: none;

	@media screen and (orientation: portrait) and (max-width: 800px) {
		display: block;
		position: absolute;
		bottom: 9%;
		left: 13%;
	}
}

.mobileFooterRow {
	display: flex;
	align-items: center;
	font: 300 14px var(--font-nunito);
	position: relative;
	padding-left: 11px;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 6px;
		height: 6px;
		background-color: var(--bg-color);
	}
}

.footerValue {
	font: 300 0.75rem var(--font-nunito);
  text-anchor: start;
	fill: black;
  user-select: none;

	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		font-size: .9rem;
	}
}

.graphColumn {
  transition: y 0.3s, height 0.3s, fill 0.3s;
}
