.cell {
  display: flex;
  justify-content: center;
  align-content: center;
	user-select: none;
	position: relative;
	align-self: center;

	&:hover {
		cursor: pointer;
	}

	&::before {
		content: '';
		background-color: transparent;
		transition: all var(--transition-speed);
	}
}

.active {
	background-color: #E0F0FF;
  align-self: stretch;
  display: grid;
  place-items: center;
	transition: all var(--transition-speed);
	position: relative;
	
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: -2rem;
		width: 100%;
		height: 2rem;
		background-color: #E0F0FF;
	}
}

.arrows {
	position: absolute;
	left: 50%;
	top: -.9rem;
	transform: translateX(-50%);
}

.defaultCursor:hover {
	cursor: unset;
}