.camerasContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 10.125rem 10.125rem / repeat(4, 16.625rem);
  justify-content: space-between;
  row-gap: 2.75rem;
}

.camera {
  background-color: var(--side-color);
  position: relative;
  display: grid;
  place-items: center;
  color: white;
  font: 600 1.5rem var(--font-nunito);

  &::before {
    content: attr(data-before);
    position: absolute;
    right: 1.05rem;
    bottom: 1.2rem;
    transform: translate(50%, 50%);
    color: white;
    font: 600 1.5rem var(--font-nunito);
  }
}

.active {
  border: 4px solid #ffffff;
}