.modalCameraSelectorWrapper {
  position: absolute;
  left: 0;
  top: -70px;
  width: 100%;
  height: calc(100% + 70px);
  background-color: rgba($color: black, $alpha: 0.6);
  padding: 78px 27px 27px 27px;

  @media screen and (max-width: 800px) {
    display: none;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    display: none;
  }
}

.modalCrossBtn {
  position: absolute;
  right: 25px;
  top: 37px;
  opacity: 1;
}
