.wrapper {
  padding: 0 11.25rem;
  background-color: white;
	user-select: none;

	@media screen and (max-width: 800px) {
    padding: 0;
  }
}

.row,
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.0625rem;

	@media screen and (max-width: 800px) {
    padding: 0;
  }
}

.header {
  font: 700 0.75rem / 1.1 var(--font-nunito);
	color: #838383;
	border-bottom: 0.5px solid #CDCCCC;

  > * {
    padding: 1.5rem 0 0.625rem;
    text-align: center;
    transition: background-color 0.3s;
		cursor: pointer;
  }

  > .name {
    padding: 1.5rem 1rem 0.625rem;

		@media screen and (max-width: 800px) {
			padding-left: 9px;
		}
  }
}

.headerCell {
	position: relative;
}

.row {
  font: 300 0.875rem / 2.0625rem var(--font-nunito);
	cursor: pointer;
	transition: background-color 0.1s;

	@media screen and (max-width: 800px) {
    line-height: 1.5rem;
  }

  > * {
    text-align: center;
    transition: background-color 0.3s;
  }
	
  &:nth-child(2n + 1) {
		background-color: #eaeaea;
  }

	&:hover {
		background-color: #e0f0ff;
	}
}

.active {
  background: #e0f0ff;
	display: flex;
	align-items: center;
	align-self: stretch;
	justify-content: center;
}

.name {
  flex: 0 1 13.75rem;
  text-align: left;
  padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	@media screen and (max-width: 800px) {
		padding: 0 9px;
  }
}

.value {
  flex: 0 1 5rem;
}
