.body {
  position: relative;
}

.text {
  font: 300 0.875rem var(--font-nunito);
  line-height: 0.9375rem;
}

.bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  column-gap: 6px;
  line-height: 0;
}

.ellipses {
  display: flex;
  align-items: flex-start;
  column-gap: 6px;
  margin-left: auto;
}
