@import 'scss/vars.scss';

.listItem {
  background-color: white;
  cursor: pointer;
	padding: 3px 5px 9px 8px;
	border-left: 2px solid transparent;

  // & + & {
  //   margin-top: 2px;
  // }

  // display: flex;
  // align-items: stretch;
  // column-gap: 5px;
  // width: 100%;
	
  &.active {
    background: linear-gradient(90deg, #d1d1d1 4.46%, rgba(255, 255, 255, 0) 93.05%);
		border-left: 2px solid var(--side-color);
  }
}


