@import 'scss/animations.scss';

.listItem {
  background-color: white;
  cursor: pointer;
  padding: 0.5rem 0.3125rem 0;
  border-left: 2px solid transparent;
  position: relative;

  &[data-before] {
    margin-top: 50px;

    &:first-child {
      margin-top: 24px;
    }

    &::before {
      content: attr(data-before);
      position: absolute;
      left: -2px;
      top: -24px;
      height: 22px;
      width: calc(100% + 2px);
      background-color: var(--side-color);
      padding: 2px 6px;
      font: 700 0.875rem / 1.36 var(--font-nunito);
      color: white;
      pointer-events: none;
    }
  }

  &[data-after]:last-child {
    margin-bottom: 24px;
  }

  .dataAfter {
    position: absolute;
    bottom: -24px;
    left: -2px;
    height: 22px;
    width: calc(100% + 2px);
    font: 700 0.875rem / 1.36 var(--font-nunito);
    color: black;
    pointer-events: none;
    display: flex;
    justify-content: space-between;

    > * {
      width: calc((100% - 6px) / 4);
      background-color: white;
      text-align: center;
      font: 300 0.75rem / 1.9 var(--font-nunito);
    }
  }

  .dataAfterNoVideo {
    left: calc(50% - 1px);
    transform: translateX(-50%);
    width: calc(100% + 2px);
    background-color: white;
    border-left: 2px solid white;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 800px) {
      width: 100%;
      justify-content: space-between;
      border-left: none;
    }
		@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
			width: 100%;
			justify-content: space-between;
			border-left: none;
		}

    > span {
      border-left: 2px solid lightgray;
      width: calc((100% - 33rem) / 4 + 2px);

      @media screen and (max-width: 1275px) {
        width: calc((100% - 31rem) / 4 + 2px);
      }
      @media screen and (max-width: 1170px) {
        width: calc((100% - 30rem) / 4 + 2px);
      }
      @media screen and (max-width: 1086px) {
        width: calc((100% - 26rem) / 4 + 2px);
      }
      @media screen and (max-width: 800px) {
        width: 25%;
				border-color: #f4f5f7;

        &:first-child {
          border-left: none;
        }
      }
			@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
				width: 25%;
				border-color: #f4f5f7;
	
				&:first-child {
					border-left: none;
				}
			}

      &:last-child {
        border-right: 2px solid lightgray;

        @media screen and (max-width: 800px) {
          border-right: none;
        }
				@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
					border-right: none;
				}
      }
    }
  }

  > *:not(.dataAfter) {
    padding-bottom: 0.4375rem;
  }

  > * + *:not(.dataAfter) {
    padding-top: 0.4375rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 12.8125rem;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000;
    }
  }

  &.active {
    animation: backgroundChange var(--transition-speed) forwards;
    border-left: 2px solid var(--side-color);
  }

  &.dataBeforeNoVideo {
    padding-left: 15.9rem;
    padding-right: 15.9rem;

    @media screen and (max-width: 1275px) {
      padding-left: 15.5rem;
      padding-right: 15.5rem;
    }
    @media screen and (max-width: 1170px) {
      padding-left: 15rem;
      padding-right: 15rem;
    }
    @media screen and (max-width: 1086px) {
      padding-left: 13rem;
      padding-right: 13rem;
    }
    @media screen and (max-width: 800px) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
		@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

    &::before {
      width: calc(100% + 2px);
      text-align: center;
    }
  }
}
