.activeCell {
  align-self: stretch;
  display: grid;
  place-items: center;
	position: relative;
	animation: bgShow var(--transition-speed) linear forwards;
}

@keyframes bgShow {
	from {
		background-color: transparent;
	}

	to {
		background-color: #E0F0FF;
	}
}
