@import 'scss/vars.scss';
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;700&display=swap');

.speed {
	grid-area: spd;
	background: white;
	padding: 1.05rem .2rem 5px;
}

.subHeader {
  font: 400 0.875rem var(--font-nunito);
  color: var(--side-color);
	margin-left: .8rem;
}

circle:hover {
	cursor: pointer;
}

.chart {
	background-color: white;
	margin-left: .2rem;
}

.plainText {
	font: 400 .875rem 'Athiti', sans-serif;
}

.boldText {
	font: 700 .875rem 'Athiti', sans-serif;
}