@import 'scss/vars.scss';

.speed {
	grid-area: spd;
	background: white;
	padding: 1.05rem .2rem 5px;
}

.subHeader {
  font: 400 0.875rem var(--font-nunito);
  color: var(--side-color);
	margin-left: .8rem;
}

circle:hover {
	cursor: pointer;
}

// g rect {
	// stroke: #e3e1e1;
	// height: .001px;
	// stroke-width: 1px;
	// stroke-dasharray: 1.5%;
// }