.selections {
  padding-top: 1.2rem;
  > * + * {
    margin-top: 1rem;
  }
}

.years,
.types {
  display: flex;

  > * {
    &:hover {
      cursor: pointer;
    }
  }

  > * + * {
    margin-left: 1.2rem;
  }
}

.types {
  font-size: 0.875rem;
}

.active {
	border-bottom: 2.15px solid var(--side-color);
}