@import 'scss/vars.scss';

.selections {
  padding-top: 1.2rem;

  > * + * {
    margin-top: 1rem;
  }

  @media screen and (max-width: 800px) {
    padding: 0;
    font-size: 1rem;
		border-bottom: 0.5px solid #cdcccc;
		position: relative;
		height: 29px;
		display: flex;
		justify-content: center;
		align-items: center;

    > * + * {
      margin-top: 0;
    }
  }
}

.years {
  align-items: center;
  cursor: pointer;
  width: 5rem;
  margin-left: -1.22rem;
  text-align: center;

  @media screen and (max-width: 800px) {
    position: absolute;
    margin-left: 0;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 777;
  }
}

.types {
  display: flex;
  font-size: 0.875rem;

  > * {
    border-bottom: 2.15px solid transparent;
    transition: all var(--transition-speed);

    &:hover {
      cursor: pointer;
      border-bottom: 2.15px solid var(--side-color);
    }
  }

  > * + * {
    margin-left: 1.95rem;
  }

  @media screen and (max-width: 800px) {
    font-size: 1rem;
		justify-content: center;
  }
}

.active {
  border-bottom: 2.15px solid var(--side-color);
}
