@import 'scss/vars.scss';

.selections {
  padding-top: 1.2rem;
  > * + * {
    margin-top: 1rem;
  }
}

.years {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	width: 5rem;
	margin-left: -1.22rem;
	text-align: center;
}

.types {
  display: flex;
	font-size: 0.875rem;

  > * {
		border-bottom: 2.15px solid transparent;
		transition: all var(--transition-speed);

    &:hover {
      cursor: pointer;
			border-bottom: 2.15px solid var(--side-color);
    }
  }

  > * + * {
    margin-left: 1.95rem;
  }
}

.active {
	border-bottom: 2.15px solid var(--side-color);
}