@import 'scss/vars.scss';
@import 'scss/animations.scss';

.content {
  display: grid;
  grid-template: 30.125rem 2.875rem / minmax(10rem, 19.3125rem) minmax(26rem, 64rem);
  grid-template-areas:
    'list graphics'
    'controls graphics';

  @media screen and (max-width: 800px) {
    display: block;
  }
}

.contentNoVideo {
  display: grid;
  grid-template: 33rem / minmax(10rem, 58.06rem) minmax(9.735rem, 19.94rem);
  grid-template-areas: 'list graphics';

  @media screen and (max-width: 800px) {
    display: block;
  }
}
