.wrapper {
  flex: 1;
  padding: 2rem;
}

.tableHeader {
  color: #838383;
  border-bottom: 0.5px solid rgb(16, 16, 16, 0.01);
  box-shadow: 0px 6px 6px -6px rgb(16, 16, 16, 0.07);

  > div {
    font: 700 0.75rem var(--font-nunito);
  }
}

.tableRow {
  > div {
    font: 300 0.875rem var(--font-nunito);
  }

  &:nth-child(2n) {
    background-color: #eaeaea;
  }
}

.tableHeader,
.tableRow {
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > div {
    text-align: center;
    width: 2.5rem;

    &:first-child {
      text-align: left;
      width: 20rem;
      padding-left: 1rem;
    }

    &.wider {
      width: 3.5rem;
    }
  }
}

.rows {
  position: relative;
}
