.classic {
	display: flex;
  align-items: stretch;
  column-gap: 10px;
}

.textRectanglesWrapper {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
	flex: 1 1 100%;
}

.portrait {
  margin-top: 4px;
	width: 39px;
	height: 42px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	
	> img {
		// left: -9.5px;
		// width: 58px;
		position: absolute;
		top: -2px;
		left: -100%;
		transform: translateX(40%);
		width: 65px;
	}
}

.portraitEllipsesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	align-items: flex-end;
}

.playerName {
  font: 700 .875rem var(--font-nunito);
  line-height: 1.36rem;
  text-align: justify;
}

.text {
  font: 400 .875rem var(--font-nunito);
  line-height: 1.36rem;
  text-align: justify;
}