.playerName {
	font: 400 .9375rem var(--font-nunito);
	line-height: .9375rem;
	margin-left: 4px;
}

.portraitTextWrapper {
	margin-top: 2px;
	display: flex;
	column-gap: .4375rem;
}

.portrait {
	width: 39px;
	height: 42px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	
	> img {
		position: absolute;
		top: -2px;
		left: -100%;
		transform: translateX(40%);
		width: 65px;
	}

	> img.default {
		top: 0;
		left: 0;
		width: 100%;
		transform: none;
	}
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font: 300 .875rem var(--font-nunito);
	line-height: .9375rem;
	flex: 1 1;
}

.rectanglesEllipsesWrapper {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	column-gap: 6px;
	line-height: 0;
}

.ellipses {
	display: flex;
	align-items: flex-start;
	column-gap: 6px;
}