@import 'scss/vars.scss';

.wrapper {
  flex: 0 1 929.05px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.9925rem;
  padding: 0 1.5rem 0 1.106rem;

  img {
    width: 3.34rem;
  }
}

.calendarsWrapper {
	display: flex;
	align-items: center;
	align-content: center;

	> * {
		margin-left: 1rem;
	}
}

.teamWrapper {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 1.106rem;
  }
}

.teamName {
  font: 700 1.125rem var(--font-comfortaa);
  max-width: 15.67rem;
}

.table {
  border-collapse: collapse;
  margin: 1rem 1.5rem 0 5rem;

  > thead {
    font: 700 0.75rem var(--font-nunito);
    color: #838383;
    border-bottom: 0.5px solid rgb(16, 16, 16, .01);
    box-shadow: 0px 6px 6px -6px rgb(16, 16, 16, .07);

    th {
      text-align: left;

      &:first-child {
				width: 4.2rem;
      }
			&:nth-child(2) {
				width: 5rem;
				padding-right: .5rem;
			}
			&:nth-child(3) {
				width: 10.5rem;
			}
			&:nth-child(4) {
				width: 5rem;
			}
			&:nth-child(5) {
				width: 11rem;
				padding-right: .5rem;
			}
			&:nth-child(6) {
				width: 12.5rem;
			}
			&:nth-child(7) {
				width: 3rem;
			}
      // &:first-child {
      //   width: 3.6rem;
      //   text-align: center;
      // }

      // &:nth-child(2) {
      //   width: 4.6rem;
      // }

      // &:nth-child(3) {
      //   width: 8rem;
      //   padding-right: 1rem;
      // }

      // &:nth-child(4) {
      //   width: 15.5rem;
      // }
      // &:nth-child(5) {
      //   width: 5rem;
      // }
      // &:nth-child(6) {
      //   width: 15.69rem;
      //   padding-right: 1rem;
      // }
      // &:nth-child(7) {
      //   width: 9.9rem;
      // }
      // &:nth-child(8) {
      //   width: 3.5rem;
      // }
    }
  }
  > tbody {
    > tr {
			&:nth-child(2n) {
				background-color: #eaeaea;
      }
			
      > td {
        font: 300 0.875rem var(--font-nunito);

        &:nth-child(4) {
          text-align: center;
          font: 700 0.875rem var(--font-athiti);
        }
        &:nth-child(5) {
          padding-right: .5rem;
        }

        &:nth-child(6) {
          a {
            color: var(--side-color);
            text-decoration: underline;
          }

          a + a {
            margin-left: 1rem;
          }
        }
      }
    }
  }

	tr {
		height: 2rem;
	}
}
