@import 'scss/vars.scss';

.wrapper {
  flex: 1 1 929.05px;
	padding: 1.3825rem 0 1rem;

		@media screen and (max-width: 800px) {
			padding: 0;
		}
		@media screen and (orientation: landscape) and (max-height: 800px) {
			padding: 0;
		}
}

.header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem 0 1.106rem;

  @media screen and (max-width: 1100px) {
    padding: 0 0.4rem 0 0.5rem;
  }

  @media screen and (max-width: 800px) {
    padding: 7px 10px;
    background: #f4f5f7;
    border-top: 0.5px solid #cdcccc;
    height: auto;
  }
	@media screen and (orientation: landscape) and (max-height: 800px) {
		display: none;
  }

  img {
    width: 3.34rem;
  }
}

.calendarsWrapper {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: flex-end;

  @media screen and (max-width: 800px) {
    order: 0;
  }

  > * {
    margin-left: 1rem;

    @media screen and (max-width: 800px) {
      margin-left: 0;
    }
  }
}

.teamWrapper {
  display: flex;
  align-items: center;
  height: 100%;

  > * + * {
    margin-left: 1.106rem;
  }

  @media screen and (max-width: 800px) {
    order: 1;

    > img,
    > .teamName > h2 {
      display: none;
    }
    > * + * {
      margin-left: 0;
    }
  }
}

.teamName {
  width: 15.67rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  @media screen and (max-width: 800px) {
    width: 14rem;
    margin-left: 0.5rem;
  }
}

.teamName > h2 {
  font: 700 1.125rem var(--font-comfortaa);
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: max-content;
}

.teamSearch {
  color: var(--side-color);
  font-weight: 700;

  @media screen and (max-width: 800px) {
    line-height: 1;
  }
}

.teamFilters {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media screen and (max-width: 800px) {
    line-height: 1;
  }

  > span {
    color: var(--side-color);
    font-weight: 700;
  }
}

.teamSelector {
  font: 400 0.75rem var(--font-nunito);
  width: calc(50% - 1rem);

  @media screen and (max-width: 800px) {
    width: calc(50% - 1.5rem);
  }
}

.table {
  margin: 0 1.5rem 0 5rem;

  @media screen and (max-width: 800px) {
    margin: 0;
  }
	@media screen and (orientation: landscape) and (max-height: 800px) {
		margin: 0;
  }

  > .tableHeader {
    color: #838383;
    border-bottom: 0.5px solid rgb(16, 16, 16, 0.01);
    box-shadow: 0px 6px 6px -6px rgb(16, 16, 16, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 2rem;

    @media screen and (max-width: 800px) {
      display: none;
    }
		@media screen and (orientation: landscape) and (max-height: 800px) {
			display: none;
		}

    > div {
      font: 700 0.75rem var(--font-nunito);
      text-align: left;

      &:first-child {
        text-align: center;
        width: 3.4rem;
      }
      &:nth-child(2) {
        width: 5rem;
        padding-right: 0.5rem;
      }
      &:nth-child(3) {
        width: 12rem;
      }
      &:nth-child(4) {
        width: 5rem;
      }
      &:nth-child(5) {
        width: 12.5rem;
        padding-right: 0.5rem;
      }
      &:nth-child(6) {
        width: 10.3rem;
      }
      &:nth-child(7) {
        width: 3rem;
      }
      &:nth-child(8) {
        // width: 12rem;
				flex: 1 1 11.5rem;

        @media screen and (max-width: 800px) {
          display: none;
        }
				@media screen and (orientation: landscape) and (max-height: 800px) {
					display: none;
				}
      }
    }

    > .homeTitle,
    > .guestsTitle {
      position: relative;
      font: 400 0.75rem var(--font-nunito);

      &::before {
        position: absolute;
        left: 0;
        top: -1.2rem;
      }
    }

    > .homeTitle::before {
      content: 'Home';
    }
    > .guestsTitle::before {
      content: 'Guests';
    }
  }

  .rows {
    max-height: calc(55vh + 7px);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;

    @media screen and (max-width: 800px) {
      max-height: calc(100vh - 30.63px - 132px - 44px);
    }
		@media screen and (orientation: landscape) and (max-height: 800px) {
			max-height: calc(100vh - 30.63px - 50px);
		}

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .tableRow {
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

		&.paddingRightOne {
			padding-right: 10px;
		}

    @media screen and (max-width: 800px) {
      flex-wrap: wrap;
      padding: 0 12px;
    }
		@media screen and (orientation: landscape) and (max-height: 800px) {
			flex-wrap: wrap;
			padding: 0 3.4rem;
		}

    > div {
      text-align: left;
      font: 300 0.875rem var(--font-nunito);

      @media screen and (max-width: 800px) {
        font-size: 1rem;
      }
			@media screen and (orientation: landscape) and (max-height: 800px) {
				font-size: 14px;
			}

      &:first-child {
        text-align: center;
        width: 3.4rem;

        @media screen and (max-width: 800px) {
          flex: 1 14%;
          text-align: left;
          width: auto;
        }
				@media screen and (orientation: landscape) and (max-height: 800px) {
					flex: 1 10%;
					text-align: left;
					width: auto;
				}
      }
      &:nth-child(2) {
        width: 5rem;
        padding-right: 0.5rem;
				
        @media screen and (max-width: 800px) {
					flex: 1 86%;
          width: auto;
          text-align: left;
        }
        @media screen and (orientation: landscape) and (max-height: 800px) {
          flex: 1 86%;
          width: auto;
          text-align: left;
        }
      }
      &:nth-child(3) {
        width: 12rem;

        @media screen and (max-width: 800px) {
          width: auto;
          flex: 1 42.5%;
          text-align: right;
        }
        @media screen and (orientation: landscape) and (max-height: 800px) {
          width: auto;
          flex: 0 1 27%;
          text-align: left;
        }
      }
      &:nth-child(4) {
        width: 5rem;
        text-align: center;
        font: 700 0.875rem var(--font-athiti);

        @media screen and (max-width: 800px) {
          flex: 1 15%;
          font-size: 14px;
        }
        @media screen and (orientation: landscape) and (max-height: 800px) {
          flex: 0 1 10%;
          font-size: 14px;
        }
      }
      &:nth-child(5) {
        width: 12.5rem;
        padding-right: 0.5rem;

        @media screen and (max-width: 800px) {
          width: auto;
          flex: 1 42.5%;
          padding-right: 0;
        }
        @media screen and (orientation: landscape) and (max-height: 800px) {
          width: auto;
          flex: 0 1 27%;
          padding-right: 0;
        }
      }
      &:nth-child(6) {
        width: 10.3rem;

        @media screen and (max-width: 800px) {
          width: auto;
          flex: 1 86%;
          text-align: right;
        }
        @media screen and (orientation: landscape) and (max-height: 800px) {
          width: auto;
          flex: 0 1 28%;
          text-align: right;
        }

        a {
          color: var(--side-color);
          text-decoration: underline;
        }

        a + a {
          margin-left: 1rem;
        }
      }
      &:nth-child(7) {
        width: 3rem;

        @media screen and (max-width: 800px) {
          width: auto;
          flex: 1 14%;
          text-align: right;
        }
        @media screen and (orientation: landscape) and (max-height: 800px) {
          width: auto;
          flex: 0 1 8%;
          text-align: right;
        }
      }
      &:nth-child(8) {
        // width: 12rem;
				flex: 1 1 11.5rem;

        @media screen and (max-width: 800px) {
          display: none;
        }
        @media screen and (orientation: landscape) and (max-height: 800px) {
          display: none;
        }
      }
    }

    &:nth-child(2n) {
      background-color: rgba($color: #eaeaea, $alpha: 0.4);
    }

    &.withDate {
      min-height: 3.2rem;
      padding-top: 1.2rem;

      &[data-before] {
        position: relative;

        &::before {
          content: attr(data-before);
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          text-align: left;
          padding-left: 5px;
          color: var(--side-color);
          font: 600 0.75rem / 1.2rem var(--font-nunito);
          background-color: white;

          @media screen and (max-width: 800px) {
            padding-left: 13px;
            font-size: 12px;
          }
          @media screen and (orientation: landscape) and (max-height: 800px) {
            padding-left: 13px;
            font-size: 12px;
          }
        }
      }
    }

    &.active {
      background-color: #e0f0ff;

      &::before {
        background-color: #e0f0ff !important;
      }
    }

		
  }
}

.underlineHover > a:hover {
  border-bottom: 2px solid var(--side-color);
}

.stadiumName > span {
  display: none;

  @media screen and (max-width: 800px) {
    display: inline;
  }
  @media screen and (orientation: landscape) and (max-height: 800px) {
    display: inline;
  }
}

.tableModes {
  display: none;

  @media screen and (max-width: 800px) {
    order: 2;
    display: block;
    margin-left: auto;

    > button {
      font: 300 14px var(--font-nunito);
      text-decoration: underline;
      color: var(--side-color);
    }

    > button + button {
      margin-left: 15px;
    }
  }
  @media screen and (orientation: landscape) and (max-height: 800px) {
    order: 2;
    display: block;
    margin-left: auto;

    > button {
      font: 300 14px var(--font-nunito);
      text-decoration: underline;
      color: var(--side-color);
    }

    > button + button {
      margin-left: 15px;
    }
  }
}

.modeTitle {
  border-bottom: 2px solid var(--side-color);
}
