.filters {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0;

  @media screen and (max-height: 725px) {
    padding: .43rem 0;
  }
}

.situationsWrapper {
  display: flex;
  align-items: center;

	> button {
		margin-bottom: 6px;
	}
}

