.filters {
  display: flex;
  justify-content: space-between;
	align-items: center;
  padding: calc(1.25rem - 7px) 0 1.25rem;

  @media screen and (max-height: 725px) {
    padding: calc(.43rem - 7px) 0 .43rem;
  }
}

.situationsWrapper {
  display: flex;
  align-items: center;

	// > button {
		// margin-bottom: 6px;
	// }
}

