.selections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

	@media screen and (max-width: 800px) {
		flex-direction: row-reverse;
		font-size: 1rem;
		border-bottom: 0.5px solid #cdcccc;
		position: relative;
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		flex-direction: row-reverse;
		font-size: 1rem;
		border-bottom: 0.5px solid #cdcccc;
		position: relative;
	}
}

.teamInfo {
  display: flex;
  align-items: center;

	@media screen and (max-width: 800px) {
		flex-direction: row-reverse;
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		flex-direction: row-reverse;
		width: 100%;
		justify-content: space-between;
	}
}

.teamName {
  font: 700 1.125rem var(--font-comfortaa);
  margin-left: 0.8rem;

	@media screen and (max-width: 800px) {
		line-height: 2rem;
		font-size: 1rem;
		margin-left: 0;
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		line-height: 2rem;
		font-size: 1rem;
		margin-left: 0;
		margin-right: 7rem;
	}
}

.imgWrapper {
	height: 2.0625rem;
	width: 3.25rem;
	display: flex;
	justify-content: center;
	align-items: center;

	@media screen and (max-width: 800px) {
		position: absolute;
		right: 1rem;
		height: 25.2px;
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		position: absolute;
		right: 1rem;
		height: 25.2px;
	}
}

.imgLoader {
	height: 1.25rem;
}

.teamImg {
	height: 100%;
}

.years {
  align-items: center;
  cursor: pointer;
  width: 5rem;
  margin-left: -1.22rem;
  text-align: center;

	@media screen and (max-width: 800px) {
		position: absolute;
		margin-left: 0;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 777;
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		position: absolute;
		margin-left: 0;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 777;
	}
}

.linksWrapper {
	display: none;

	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		display: block;
		padding-left: 7rem;
	}
}
