.videoWrapper {
  position: relative;
  height: 100%;

  @media screen and (max-width: 800px) {
    height: 100%;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    height: 100%;
  }

  > div {
    height: 100%;
  }

  &:hover > .controlsWrapper {
    opacity: 1;
  }
}

.controlsWrapper {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: auto !important;
	padding: 0 50px 7px;
	opacity: 0;
	transition: opacity .25s;
}

.videoOne {
  grid-area: video-1;
}

.videoTwo {
  grid-area: video-2;
}

.videoThree {
  grid-area: video-3;
}

.videoFour {
  grid-area: video-4;
}

.aspectRatio16 {
  aspect-ratio: 16/9;
}
