.videoWrapper {
  position: relative;
  height: 100%;
  user-select: none;

  @media screen and (max-width: 800px) {
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }

  &:hover > .controlsWrapper {
    opacity: 1;
  }

  &:fullscreen {
    display: grid;
    gap: 6px;
    background: #e5e5e5;
    grid-template: 1fr 50px / 98px 1fr;
    grid-template-areas:
      'side-panel videos'
      'side-panel bottom-panel';

    > .wrapper {
      grid-area: videos;

      > .btnWrapper {
        > .toFullScreen {
          display: none;
        }

        > .fromFullScreen,
        .videoControls {
          display: inline-block;
        }
      }
    }

    .sidePanelFull {
      display: block;
    }

    .bottomPanelFull {
      display: flex;
      gap: 6px;

      > div:first-child {
        padding-top: 0;
        max-width: 55%;
      }

      .playersInfo {
        background: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        padding: 0.2rem 0.6rem;
        // flex: 1;
				width: 21rem;
				flex: 0 0 21rem;

        @media screen and (max-width: 1600px) {
          width: 16.5rem;
					flex: 0 0 16.5rem;
          gap: 1rem;
        }
        @media screen and (max-width: 1152px) {
          width: 15rem;
					flex: 0 0 15rem;
          gap: .2rem;
        }

        > .players {
          width: 78%;

					@media screen and (max-width: 1600px) {
						width: 88%;
					}
					@media screen and (max-width: 1152px) {
						width: 83%;
					}
          // flex: 0 0 78%;
          > div {
            font: 400 1rem / 1 var(--font-nunito);
            white-space: nowrap;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;

            @media screen and (max-width: 1600px) {
              font-size: 0.8rem;
            }

            > span {
              display: inline-block;
              font-weight: 700;
              width: 1.3rem;
            }
          }
        }

        > .speed {
          // align-self: flex-start;
          color: red;
          font: 700 1.25rem / 0.9 var(--font-athiti);
          width: 22%;
          @media screen and (max-width: 1600px) {
            // align-self: unset;
            // flex: 0;
						width: 12%;

            font-size: 0.9rem;
          }
					@media screen and (max-width: 1152px) {
						width: 13%;
					}
					
        }
      }
    }

    .sidePanelFull {
      display: flex;
      flex-direction: column;

			> div {
				background: white;
				margin-top: 6px;
			}

      .events {
        flex: 1;
      }

      .options {
        height: 11.0625rem;
        padding: 0 22px;

        > div {
          padding: 0 0 5px;
        }
      }
    }

    .sidePanelFull ul::-webkit-scrollbar {
      width: 0;
    }
  }
}

.wrapper {
  position: relative;
  height: 100%;

  > div {
    height: 100%;
  }

  > .btnWrapper > .toFullScreen {
    @media screen and (max-width: 800px),
      screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
      display: none;
    }
  }
}

.sidePanelFull,
.bottomPanelFull {
  display: none;
  height: 100%;
}

.sidePanelFull {
  grid-area: side-panel;
}

.bottomPanelFull {
  grid-area: bottom-panel;
}

.fromFullScreen,
.videoControls {
  display: none;
}

.controlsWrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto !important;
  padding: 0 50px 7px;
  opacity: 0;
  transition: opacity 0.25s;
}

.videoOne {
  grid-area: video-1;
}

.videoTwo {
  grid-area: video-2;
}

.videoThree {
  grid-area: video-3;
}

.videoFour {
  grid-area: video-4;
}

// .aspectRatio16 {
  // aspect-ratio: 16/9;
// }

.btnWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

  > button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: auto;
  }

  &.topLeftBtn > button {
    left: 0.5rem;
    top: 0.5rem;
  }

  &.topRightBtn > button {
    right: 0.4rem;
    top: 0.5rem;
  }

  &.bottomLeftBtn > button {
    left: 0.5rem;
    bottom: 0.5rem;
  }

  &.bottomRightBtn > button {
    right: 0.4rem;
    bottom: 0.5rem;
  }
}

.dnone {
  display: none;
}
