.videoWrapper {
  position: relative;
  height: 100%;
  user-select: none;

  @media screen and (max-width: 800px) {
    height: 100%;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    height: 100%;
  }

  > div {
    height: 100%;
  }

  &:hover > .controlsWrapper {
    opacity: 1;
  }

  &:fullscreen > .btnWrapper {
    > .toFullScreen {
      display: none;
    }

    > .fromFullScreen,
    .videoControls {
      display: inline-block;
    }
  }
}

.fromFullScreen,
.videoControls {
  display: none;
}

.controlsWrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto !important;
  padding: 0 50px 7px;
  opacity: 0;
  transition: opacity 0.25s;
}

.videoOne {
  grid-area: video-1;
}

.videoTwo {
  grid-area: video-2;
}

.videoThree {
  grid-area: video-3;
}

.videoFour {
  grid-area: video-4;
}

.aspectRatio16 {
  aspect-ratio: 16/9;
}

.btnWrapper {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  > button {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
  }

  &.topLeftBtn > button {
    left: 0.5rem;
    top: 0.5rem;
  }
  &.topRightBtn > button {
    right: 0.4rem;
    top: 0.5rem;
  }
  &.bottomLeftBtn > button {
    left: 0.5rem;
    bottom: 0.5rem;
  }
  &.bottomRightBtn > button {
    right: 0.4rem;
    bottom: 0.5rem;
  }
}

.dnone {
  display: none;
}
