.content {
  position: relative;
  display: flex;
	align-items: flex-start;

	@media screen and (max-width: 800px) {
		display: block;
		// min-height: calc(var(--vh, 1vh) * 100 - 30.63px - 132px);
	}

  > * {
		position: relative;
    background-color: #fff;
		padding: 3rem 0 1rem;
  }

  > * + * {
    margin-left: 6px;

		@media screen and (max-width: 800px) {
			margin-left: 0;
		}
  }
}