.content {
  position: relative;
  display: flex;
	align-items: flex-start;

	@media screen and (max-width: 800px) {
		display: block;
		min-height: calc(100vh - var(--desktop-nav-height) - 126px);
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		display: block;
		min-height: calc(100vh - var(--landscape-nav-height) - 80.5px);
		border-top: 0.5px solid #cdcccc;
	}

  > * {
		position: relative;
    background-color: #fff;
		padding: 3rem 0 1rem;
  }

  > * + * {
    margin-left: 6px;

		@media screen and (max-width: 800px) {
			margin-left: 0;
		}
		@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
			margin-left: 0;
		}
  }
}