.outerWrapper {
  position: relative;
  // aspect-ratio: 463 / 388;
  // display: inline-block;
  // line-height: 0;
}

.graphWrapper {
	position: relative;
}

.pt2 {
	@media screen and (max-width: 800px) {
		padding-top: 2rem;
  }
}

.wrapper {
  aspect-ratio: 713 / 388;
  // aspect-ratio: 463 / 388;
  // margin-top: 5px;
  position: relative;
  background-color: white;
  // background-image: url('/images/player_stats_field_pad.jpg');
  background-repeat: no-repeat;
  // background-position: 20.5% 90%;
  // background-position: 17.56% 90%;
  // background-size: 20%;
  // background-size: 28.2%;
  background-image: url('/images/player_stats_field_pad.jpg'), url('/images/player_stats_field_pad.jpg');
  // background-repeat: no-repeat, no-repeat;
  background-position: 12.5% 90%, 87.9% 90%;
  background-size: 12.9874%, 12.9874%;
  // background-size: 20%, 20%;
  opacity: 0;
  animation: increaseOpacity 0.3s forwards;
  width: 100%;
  height: 100%;

	@media screen and (max-width: 800px) {
    width: 200%;
  }
}

.graphMainTitle {
  position: absolute;
  left: -7rem;
  top: 30px;
  width: 7rem;
  height: 1rem;
  line-height: 1;
  text-align: center;
  font-weight: 700;

	@media screen and (max-width: 800px) {
    left: 13px;
		top: 14px;
		text-align: left;
  }
}

.title,
.valueText,
.percentValue {
  text-anchor: middle;
}

.title {
  font: 700 0.875rem var(--font-nunito);
}

.percentTitle,
.percentValue {
  font: 300 0.875rem var(--font-nunito);
  transition: y 0.3s;
}

.percentTitle {
  text-anchor: start;
}

.percentValue {
  transition: opacity 0.3s;
}

.valueText {
  font: 300 0.625rem var(--font-nunito);
}

.animated {
  transition: all 0.3s;
  animation: growRadius 0.3s forwards;
  cursor: pointer;

  &:hover {
    animation: growRadiusMore 0.3s forwards;
  }
}

.blur2 {
  filter: blur(4px);
}

.eventsNone {
  pointer-events: none;
}

@keyframes growRadius {
  from {
    r: 0;
  }
  to {
    r: 8;
  }
}

@keyframes growRadiusMore {
  from {
    r: 8;
  }
  to {
    r: 12;
  }
}

@keyframes increaseOpacity {
  from {
    opacity: 0;
    // scale: .2;
  }
  to {
    opacity: 1;
    // scale: 1;
  }
}

// .blurredPath {
//   filter: blur(1px);
// }
// rect {
// 	filter: blur(1)
// }
