@import 'scss/vars.scss';

.wrapper {
  flex: 1;
  margin-top: 1.6rem;
}

.tableHeader {
  color: #838383;
  border-bottom: 0.5px solid rgb(16, 16, 16, 0.01);
  box-shadow: 0px 6px 6px -6px rgb(16, 16, 16, 0.07);

  > div {
    font: 700 0.75rem var(--font-nunito);
    position: relative;

    &:nth-last-child(10) {
      margin-left: 1rem;
      // width: 2.5rem;

      &::after {
        content: 'Fielding';
        position: absolute;
        left: 0;
        // left: 0.5rem;
        top: -3.2rem;
        font: 400 0.875rem var(--font-nunito);
        color: black;

        @media screen and (max-width: 1200px) {
          left: 0.2rem;
        }

        @media screen and (max-width: 1050px) {
          left: 0.12rem;
        }
      }
    }

    &:nth-last-child(4) {
      margin-left: 1rem;

      &::after {
        content: 'Running';
        position: absolute;
        left: .2rem;
        top: -3.2rem;
        font: 400 0.875rem var(--font-nunito);
        color: black;

        @media screen and (max-width: 1200px) {
          left: 0.2rem;
        }

        @media screen and (max-width: 1050px) {
          left: 0.12rem;
        }
      }
    }
  }
}

.tableRow {
  > div {
    font: 300 0.875rem var(--font-nunito);

    &:nth-last-child(10) {
      margin-left: 1rem;
      // width: 2.5rem;
    }

    &:nth-last-child(4) {
      margin-left: 1rem;
    }
  }

  &:nth-child(2n) {
    background-color:  rgba($color: #eaeaea, $alpha: .4);
  }
}

.tableHeader,
.tableRow {
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  > .year {
    width: 4rem;
  }

  > .league {
    text-align: left;
    width: 12rem;
    padding-left: 0.5rem;
  }

  > .game {
    text-align: left;
    width: 14rem;
    padding-left: 0.5rem;

    > .teams {
      font-weight: 700;
    }
  }

  .wide {
    width: 1.8rem;
  }

  .wider {
    width: 2.8rem;
  }

  > div {
    width: 1.5rem;
  }
}

.rows {
  position: relative;
}

.sortFieldWrapper {
  align-self: stretch;
  display: grid;
}
