.wrapper {
  aspect-ratio: 1248 / 330;
  position: relative;

  @media screen and (max-width: 800px) {
    aspect-ratio: 416 / 330;
  }
}

.innerWrapper {
	width: 100%;
	height: 100%;

	@media screen and (max-width: 800px) {
		position: relative;
    overflow-x: scroll;
  }
}

.graph {
  background-color: white;

  @media screen and (max-width: 800px) {
    width: 300%;
  }
}

.leftValue {
  text-anchor: end;
  font: 300 0.875rem var(--font-nunito);
  fill: black;
}

.dot {
  cursor: pointer;
  animation: growRadius 0.3s forwards;

  &:hover {
    animation: growRadiusMore 0.3s forwards;
  }
}

.showingGroup {
  animation: showing 0.3s forwards;
}

.plainText {
  font: 400 1.07rem var(--font-nunito);
  fill: black;
}

@keyframes growRadius {
  from {
    r: 0px;
  }
  to {
    r: 8px;
  }
}

@keyframes growRadiusMore {
  from {
    r: 8px;
  }
  to {
    r: 12px;
  }
}

@keyframes showing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.arrowBtn {
	display: none;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) scale(1.4);
	z-index: 1;
	opacity: .8;

	@media screen and (max-width: 800px) {
    display: inline-block;
  }
}

.leftArrowBtn {
	left: 8px;
}

.rightArrowBtn {
	right: 8px;
}