.wrapper {
  flex: 2;
  position: relative;
}

.table {
  margin: 0 0.625rem;

  > .tableHeader {
    color: #838383;
    border-bottom: 0.5px solid rgb(16, 16, 16, 0.01);
    box-shadow: 0px 6px 6px -6px rgb(16, 16, 16, 0.07);
    display: flex;
    align-items: center;
    min-height: 2rem;
    justify-content: space-between;

    > div {
      font: 700 0.75rem var(--font-nunito);
      text-align: left;

      &:first-child {
        text-align: center;
        width: 3.7rem;
      }
      &:nth-child(2),
      &:nth-child(4) {
        width: 12.5rem;
        padding-right: 0.5rem;

        @media screen and (max-width: 1280px) {
          width: 11.5rem;
        }
        @media screen and (max-width: 1245px) {
          width: 11rem;
        }
        @media screen and (max-width: 1078px) {
          width: 9rem;
        }
      }
      &:nth-child(3) {
        width: 5rem;
      }

      &:nth-child(5) {
        width: 10.3rem;
      }
      &:nth-child(6) {
        width: 3rem;
      }
    }
  }

  .rows {
    position: relative;
  }

  .tableRow {
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > div {
      text-align: left;
      font: 300 0.875rem var(--font-nunito);

      &:first-child {
        text-align: center;
        width: 3.7rem;
      }
      &:nth-child(2),
      &:nth-child(4) {
        width: 12.5rem;
        padding-right: 0.5rem;

        @media screen and (max-width: 1280px) {
          width: 11.5rem;
        }
        @media screen and (max-width: 1245px) {
          width: 11rem;
        }
        @media screen and (max-width: 1078px) {
          width: 9rem;
        }
      }
      &:nth-child(3) {
        text-align: center;
        width: 5rem;
        font: 700 0.875rem var(--font-athiti);
      }

      &:nth-child(5) {
        width: 10.3rem;
        a {
          color: var(--side-color);
          text-decoration: underline;
        }

        a + a {
          margin-left: 1rem;
        }
      }
      &:nth-child(6) {
        width: 3rem;
      }
    }

    &.withDate {
      min-height: 3.2rem;
      padding-top: 1.2rem;

      &[data-before] {
        position: relative;

        &::before {
          content: attr(data-before);
          left: 0;
          top: 0;
          position: absolute;
          width: 160%;
          text-align: left;
          padding-left: 5px;
          color: #838383;
          font: 400 0.75rem / 1.5rem var(--font-nunito);
        }
      }
    }

    &:nth-child(2n) {
      background-color: #eaeaea;
    }
  }
}

.linkWrapper {
  position: absolute;
  right: 0.625rem;
  top: 1.5rem;

  > a {
    font: 300 0.875rem var(--font-nunito);
    text-decoration: underline;
    color: var(--side-color);
    margin-left: auto;
  }
}

.underlineHover > a:hover {
	border-bottom: 2px solid var(--side-color);
}