@import 'scss/vars.scss';

.dropdownWrapper {
  width: 100%;
  position: relative;
  text-align: inherit;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.title {
  position: relative;
}

.list {
  position: absolute;
  top: 115%;
  left: 0;
  width: 100%;
  list-style: none;
  background-color: white;
  z-index: 5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: popUp 0.2s linear;

  > * {
		> span {

			border-bottom: 2px solid transparent;
		}
    padding: 0.2rem 1rem;

    &.active > span {
      border-bottom: 2px solid var(--side-color);
    }

    &:hover {
      background-color: #e0f0ff;
    }

    > span {
      color: #838383;
    }
  }
}

@keyframes popUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
