@import 'scss/vars.scss';

.selections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.playerInfo {
	display: flex;
	align-items: center;
}

.fullName {
  font: 700 1.125rem var(--font-comfortaa);
  margin-left: 1.2rem;
}

.years {
  align-items: center;
  cursor: pointer;
  width: 5.8rem;
  // margin-left: -1.1rem;
  text-align: left;
}

.active {
	border-bottom: 2.15px solid var(--side-color);
}

.bottom {
	display: flex;
	align-items: baseline;

	> * + * {
		margin-left: 1rem;
	}
}

.batting {
	display: flex;
	align-items: center;
	font-size: .75rem;
	font-weight: 700;
	color: #838383;
	width: 7rem;
}