@import 'scss/vars.scss';

.selections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

	@media screen and (max-width: 800px) {
		position: relative;
		flex-direction: row;
		align-items: center;
		padding: 2px 0;
		border-bottom: 0.5px solid #cdcccc;
		height: 29px;
		justify-content: flex-start;
	}
}

.playerInfo {
	display: flex;
	align-items: center;

	@media screen and (max-width: 800px) {
		display: none;
	}
}

.fullName {
  font: 700 1.125rem var(--font-comfortaa);
  margin-left: 1.2rem;
}

.years {
  align-items: center;
  cursor: pointer;
  width: 5.8rem;
  text-align: center;

	@media screen and (max-width: 800px) {
		z-index: 777;
		font-size: 1rem;
	}
}

.active {
	border-bottom: 2.15px solid var(--side-color);
}

.bottom {
	display: flex;
	align-items: baseline;

	> * + * {
		margin-left: .2rem;
	}

	@media screen and (max-width: 800px) {
		align-items: center;
	}
}

.teamsSelector {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .75rem;
	font-weight: 700;
	color: #838383;
	width: 7.8rem;

	@media screen and (max-width: 800px) {
		z-index: 777;
		font-size: 1rem;
		width: 8rem;
		font-weight: 400;
		color: black;
	}
}

.dropWrapper {
	width: 5.5rem;
	text-align: center;
	font-size: 1rem;
}