@import 'scss/vars.scss';

.bat {
  grid-area: bat;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 0.74rem 0.74rem 2.8125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-evenly;
}

.subHeader {
  font: 400 0.875rem var(--font-nunito);
  color: var(--side-color);
}

.headerValue {
  font: 700 0.875rem var(--font-roboto);
}

.batter {
  background: no-repeat url('../../../images/batter_bg.png') center / contain;
  height: 68%;

  > img {
    width: 100%;
  }
}

.leftHanded {
  transform: scale(-1, 1);
}

.footer {
  position: relative;

  > p {
    position: absolute;
    left: 0;
    top: 0;
  }

  > svg {
    > text:first-child {
      fill: var(--side-color);
    }

    > .value {
      font: 400 0.875rem var(--font-athiti);
      fill: black;
    }

    > circle {
      position: relative;

      &::before {
        content: '99';
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
      }

      &.dot:hover {
        cursor: pointer;
      }

      &.slider {
        pointer-events: none;
        // animation: sliderAnimation 0.9s linear forwards;
      }
    }
  }
}

// @keyframes sliderAnimation {
//   from {
//     cx: 1;
//   }

//   to {
//     cx: 326.5;
//   }
// }
