.filterField {
  position: absolute;
  left: 30px;
  top: 20px;
	padding: 6px;
	line-height: 1;
	border: 0.5px solid #CDCCCC;
	width: 254px;
	padding-right: 28px;
	background: no-repeat url('../../../images/player_filter_icon.png') right 2px bottom 50%;
	outline: none;
	font: 700 12px var(--font-nunito);
}

.mobile {
	left: 50%;
	top: 5px;
	transform: translateX(-50%);
}