.graph {
  aspect-ratio: 1192 / 500;
  height: auto;
  background-color: white;
}

.bottomNumber,
.leftNumber {
  font: 400 0.875rem 'Nunito', sans-serif;
}

.bottomNumber {
	text-anchor: end;
	transform-origin: right;
	transform-box: fill-box;
	transform: rotateZ(270deg);
}

.innerText {
  font: 700 0.875rem 'Nunito', sans-serif;
}

.sideTitle {
  font: 700 1.125rem 'Nunito', sans-serif;
}