.graph {
  aspect-ratio: 1192 / 500;
  height: auto;
  background-color: white;
}

.bottomNumber,
.leftNumber,
.graphNumber {
  font: 400 0.875rem 'Nunito', sans-serif;
}

.graphNumber {
	display: none;
	opacity: 0;
	transition: all .3s;
	text-anchor: middle;
	pointer-events: none;
}

.bottomNumber {
  text-anchor: end;
  transform-origin: right;
  transform-box: fill-box;
  transform: rotateZ(270deg);
}

.innerText {
  font: 700 0.875rem 'Nunito', sans-serif;
}

.sideTitle {
  font: 700 1.125rem 'Nunito', sans-serif;
}

.hoveringLine {
  cursor: pointer;
}

.hoveringLine1:hover ~ .graphPath1,
.hoveringLine2:hover ~ .graphPath2,
.hoveringLine3:hover ~ .graphPath3,
.hoveringLine4:hover ~ .graphPath4,
.hoveringLine5:hover ~ .graphPath5,
.hoveringLine6:hover ~ .graphPath6 {
  stroke-width: 4;
  r: 5;
}

.hoveringLine1:hover ~ .graphNumber1,
.hoveringLine2:hover ~ .graphNumber2,
.hoveringLine3:hover ~ .graphNumber3,
.hoveringLine4:hover ~ .graphNumber4,
.hoveringLine5:hover ~ .graphNumber5,
.hoveringLine6:hover ~ .graphNumber6 {
  display: inline;
	opacity: 1;
}

.hoveringLine1:hover ~ *:not(.graphPath1):not(.graphNumber),
.hoveringLine2:hover ~ *:not(.graphPath2):not(.graphNumber),
.hoveringLine3:hover ~ *:not(.graphPath3):not(.graphNumber),
.hoveringLine4:hover ~ *:not(.graphPath4):not(.graphNumber),
.hoveringLine5:hover ~ *:not(.graphPath5):not(.graphNumber),
.hoveringLine6:hover ~ *:not(.graphPath6):not(.graphNumber) {
  opacity: 0.2;
}

.graphPath {
  transition: all 0.3s;
  pointer-events: none;
}

circle.graphPath {
  transition: cy 0.3s, r 0.3s;
  animation: showing 0.6s;
}

@keyframes showing {
  from {
    opacity: 0;
    r: 1;
  }
  to {
    opacity: 1;
    r: 3;
  }
}
