.mobileWrapper {
  border-top: 0.5px solid #cdcccc;
  width: 100%;
  padding: 0;
  height: calc(100vh - 30.63px - 132px - 56px);
	
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		height: calc(100vh - var(--landscape-nav-height) - 80.5px - 57px);
  }
}

.fullHeader {
  width: 100%;
  display: flex;

  > .leftHeader {
    background-color: white;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    color: #838383;
    height: 38.5px;
    align-items: center;
    border-bottom: 0.5px solid #dfdfdf;
    flex: 0 0 185px;
    border-right: 0.5px solid transparent;

    > div {
      &.years {
        width: 45px;
				padding-left: 10.5px;
      }

      &.league {
        padding-left: 10.5px;
        width: 140px;
      }

      &.game {
        padding-left: 10.5px;
        width: 190px;
      }
    }
  }

  > .rightHeader {
    background-color: white;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    color: #838383;
    height: 38.5px;
    align-items: center;
    border-bottom: 0.5px solid #dfdfdf;
    width: inherit;
    overflow-x: hidden;
    scroll-behavior: initial;
    justify-content: space-between;

    > div {
      flex: 0 0 2rem;

      &.wider {
        flex: 0 0 3rem;
      }
    }
  }
}

.sides {
  width: 100%;
  max-height: calc(100vh - 30.63px - 132px - 57px - 38.5px);
  overflow-y: scroll;
  display: flex;

	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		height: calc(100vh - var(--landscape-nav-height) - 80.5px - 57px - 38.5px);
		max-height: unset;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.leftRows {
  max-width: 280px;
  border-right: 0.5px solid #dfdfdf;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.25);
  height: fit-content;

  > .tableRow {
    display: flex;
    height: 38.5px;

    > div {
      font: 300 1rem / 38.5px var(--font-nunito);

      &.years {
        width: 45px;
        // text-align: center;
				padding-left: 10.5px;
      }

      &.league {
        padding-left: 10.5px;
        width: 140px;
        height: 38.5px;
        line-height: 13px;
        display: flex;
        align-items: center;
      }

      &.game {
        padding-left: 10.5px;
        width: 190px;
        height: 38.5px;
        line-height: 15px;
        display: flex;
        align-items: center;

        > .date {
          flex: 0 0 50px;
        }

        > .teamNames {
          font-weight: 700;
          padding-left: 5px;
        }
      }

      .fullName {
        font-weight: 700;
      }
    }

    > .teamNames {
      font-weight: 700;
    }

    &:nth-child(2n) {
      background-color: rgba($color: #eaeaea, $alpha: 0.4);
    }
  }

  > .tableFooter > div {
    font-weight: 700;
  }
}

.rightRows {
  overflow-x: scroll;
  height: fit-content;
  width: inherit;

  > .tableRow {
    display: flex;
    justify-content: space-between;
    height: 38.5px;
    width: max-content;

    > div {
      width: 2rem !important;
      flex: 0 0 2rem;
      text-align: center;
      font: 300 1rem/38.5px var(--font-nunito);

      &.wider {
        width: 3rem !important;
        flex: 0 0 3rem;
      }
    }

    &:nth-child(2n) {
      background-color: rgba($color: #eaeaea, $alpha: 0.4);
    }
  }

	> .tableFooter > div {
    font-weight: 700;
  }
}
