@import 'scss/vars.scss';

.navbar {
  height: 2.1875rem;
  font: 400 1.125rem / 1.2 var(--font-comfortaa);
  border-bottom: 0.5px solid #cdcccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #f4f5f7 12.5%, #eeeeef 100%);

  @media screen and (max-width: 800px) {
    font-size: 18px;
		background: #F4F5F7;
  }

  > a + a {
    margin-left: 1rem;
  }

  > a {
    transition: all var(--transition-speed);
    border-bottom: 2px solid transparent;
    font-weight: bold;
    color: #979797;

    &:hover {
      color: black;
      border-bottom: 2px solid var(--side-color);
    }
  }
}

a.active {
  color: black;
  border-bottom: 2px solid var(--side-color);
}
