@import 'scss/vars.scss';

.navbar {
	height: 2.1875rem;
	font: bold 1.125rem var(--font-comfortaa);
	border-bottom: .5px solid #CDCCCC;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		90deg, #f4f5f7 12.5%, #eeeeef 100%);

	> a {
		margin-left: 1rem;
	}
}