@import 'scss/vars.scss';

.side {
  flex: 0 1 315px;
}

.pctTable {
  text-align: left;
  border-collapse: collapse;

  thead {
    border-bottom: 0.5px solid #dfdfdf;

    th {
      font: 700 0.75rem / 1.9rem var(--font-nunito);
      color: #838383;
      width: 2rem;

      &:first-child {
        width: 12.1rem;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        text-align: center;
      }
    }
  }

  > tbody {
    > tr {
      > td {
        font: 300 0.875rem / 1.9rem var(--font-nunito);

        &:first-child {
					padding-right: 0.5rem;
        }
				
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
					text-align: center;
        }
      }
    }
  }
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;

	> a {
		font: 300 .875rem var(--font-nunito);
		text-decoration: underline;
		color: var(--side-color);
		margin-left: auto;
	}
}

.avr {
	display: flex;
	align-items: center;
}

.drop {
  font-size: 0.875rem;
}

.switchTable {
  text-align: left;
  border-collapse: collapse;

  thead {
    border-bottom: 0.5px solid #dfdfdf;

    th {
      font: 700 0.75rem / 1.9rem var(--font-nunito);
      color: #838383;
      width: 2rem;

      &:first-child {
        width: 11.5rem;
      }
      &:nth-child(2) {
        width: 4rem;
      }
    }
  }

  > tbody {
    td {
      font: 300 0.875rem / 1.9rem var(--font-nunito);

      &:first-child {
        padding-right: 0.5rem;
      }
    }
  }
}

.underlineHover > a:hover {
	border-bottom: 2px solid var(--side-color);
}