@import 'scss/vars.scss';

.side {
  flex: 0 1 315px;
  padding: 2.23rem 1.35rem 1rem;

  @media screen and (max-width: 1100px) {
    padding: 2.23rem 0.5rem 1rem;
  }

  @media screen and (max-width: 800px) {
    padding: 0;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    padding: 0;
    display: flex;

    &.addHeight {
      height: calc(100vh - 3.0875rem - 95px);
    }

    > div {
      flex: 1;
    }
  }
}

.pctWrapper {
  @media screen and (max-width: 800px) {
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.pctTable {
  text-align: left;
  @media screen and (max-width: 800px) {
    padding: 0 3.68rem;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    padding: 0 2rem;
  }

  > .tableHeader {
    border-bottom: 0.5px solid #dfdfdf;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      border-bottom: 1px solid #dfdfdf;
    }
    @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
      border-bottom: 1px solid #dfdfdf;
    }

    > div {
      font: 700 0.75rem / 1.9rem var(--font-nunito);
      color: #838383;

      @media screen and (max-width: 800px) {
        font-size: 12px;
      }
      @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
        font-size: 12px;
      }

      &:first-child {
        max-width: 11.6rem;

        @media screen and (max-width: 800px) {
          width: 16rem;
        }
        @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
          max-width: 13rem;
          width: 16rem;
        }
      }

      &:nth-child(2) {
        display: flex;
        > div {
          width: 2rem;

          @media screen and (max-width: 1100px) {
            width: 1.5rem;
          }

          &:nth-child(3) {
            width: 2.5rem;

            @media screen and (max-width: 1100px) {
              width: 2.6rem;
            }
          }

          &:first-child,
          &:nth-child(2),
          &:nth-child(3) {
            text-align: center;
          }
        }
      }
    }
  }

  > .tableBody {
    max-height: 15.2rem;
    overflow-x: hidden;
    overflow-y: scroll;

    @media screen and (max-height: 1000px) {
      max-height: 13.3rem;
    }
    @media screen and (max-width: 800px) {
      max-height: calc(100vh - 30.63px - 132px - 36px - 6px - 21px - 27px - 6px - 6px - 192px);
    }
    @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
      max-height: calc(100vh - 30.63px - 96.5px - 6px - 21px - 6px - 45px);
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    > .tableRow {
      display: flex;
      justify-content: space-between;

      > div {
        font: 300 0.875rem / 1.9rem var(--font-nunito);

        @media screen and (max-height: 1000px) {
          line-height: 1.65rem;
        }

        @media screen and (max-width: 800px) {
          font-size: 14px;
        }
        @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
          font-size: 14px;
          line-height: 1.55rem;
        }

        &:first-child {
          padding-right: 0.5rem;
          max-width: 11.6rem;

          @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
            max-width: 15rem;
          }
        }

        &:nth-child(2) {
          display: flex;
          > div {
            width: 2rem;

            @media screen and (max-width: 1100px) {
              width: 1.5rem;
            }

            &:nth-child(3) {
              width: 2.5rem;

              @media screen and (max-width: 1100px) {
                width: 2.6rem;
              }
            }

            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  @media screen and (max-width: 800px) {
    margin-top: 0;
    padding-bottom: 2px;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    margin-top: 0;
    padding-bottom: 2px;
  }

  > a {
    font: 300 0.875rem var(--font-nunito);
    text-decoration: underline;
    color: var(--side-color);
    margin-left: auto;

    @media screen and (max-width: 800px) {
      font-size: 14px;
    }
    @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
      font-size: 14px;
    }
  }
}

.avr {
  display: flex;
  align-items: center;
}

.drop {
  font-size: 0.875rem;
  width: 4rem;

  @media screen and (max-width: 800px) {
    margin-left: 2.6rem;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    margin-left: 2.6rem;
  }
}

.switchWrapper {
  @media screen and (max-width: 800px) {
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    padding: 6px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.switchTable {
  text-align: left;
  @media screen and (max-width: 800px) {
    padding: 0 3.68rem;
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    padding: 0 2.6rem;
  }

  > .tableHeader {
    border-bottom: 0.5px solid #dfdfdf;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      border-bottom: 1px solid #dfdfdf;
    }
    @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
      border-bottom: 1px solid #dfdfdf;
    }

    > div {
      font: 700 0.75rem / 1.9rem var(--font-nunito);
      color: #838383;

      @media screen and (max-width: 800px) {
        font-size: 12px;
      }
      @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
        font-size: 12px;
      }

      &:first-child {
        max-width: 11.5rem;

        // @media screen and (max-width: 800px) {
        //   width: 16rem;
        // }
      }

      &:nth-child(2) {
        display: flex;
        > div {
          &:first-child {
            width: 4rem;

            @media screen and (max-width: 800px) {
              width: 4.5rem;
            }
            @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
              width: 4.5rem;
            }
          }

          &:nth-child(2) {
            width: 2.3rem;

            > div {
              justify-content: flex-end;
            }
          }

        }
      }
    }
  }

  > .tableBody {


    @media screen and (max-width: 800px) {
      max-height: calc(100vh - 30.63px - 132px - 36px - 6px - 21px - 35px);
    }
    @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
      max-height: calc(100vh - 30.63px - 96.5px - 6px - 21px - 6px - 45px);
    }

    &::-webkit-scrollbar {
      width: 0;
    }

    > .tableRow {
      display: flex;
      justify-content: space-between;

      > div {
        font: 300 0.875rem / 1.9rem var(--font-nunito);

        @media screen and (max-height: 1000px) {
          line-height: 1.55rem;
        }

        @media screen and (max-width: 800px) {
          font-size: 14px;
        }
        @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
          font-size: 14px;
        }

        &:first-child {
          max-width: 11.5rem;
        }

        &:nth-child(2) {
          display: flex;
          > div {
            &:first-child {
              width: 4rem;

              @media screen and (max-width: 800px) {
                width: 4.5rem;
              }
              @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
                width: 4.5rem;
              }

            }

            &:nth-child(2) {
              width: 2.3rem;
              text-align: center;
              padding-right: 0.4rem;
            }

          }
        }
      }
    }
  }
}


.underlineHover > a:hover {
  border-bottom: 2px solid var(--side-color);
}
