.list {
  position: relative;
  grid-area: list;
  overflow-y: scroll;
  scroll-behavior: smooth;

  > * + * {
    margin-top: 2px;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 7px;
    background: #ACACAC;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
  }

	@media only screen and (min-device-width: 481px) and (max-device-width: 1366px) and (max-device-height: 1024px) and (orientation:landscape) {
		border-right: 6px solid #e5e5e5;
	}
}
