.rectText {
	display: flex;
	justify-content: center;
	align-items: center;
  border: 0.8px solid black;
  border-radius: 4px;
  font-size: 0.65rem;
	font-weight: 600;
	padding: 1px 2.5px 0;
	line-height: .875rem;

	@media screen and (max-width: 1235px) {
		font-size: 0.60rem;
	}

	@media screen and (max-width: 1155px) {
		font-size: 0.54rem;
	}

	@media screen and (max-width: 1100px) {
		font-size: 0.54rem;
	}
}

.score {
	padding: 1px 8px 0;
}

.red {
	color: #e2001c;
  border-color: #e2001c;
}

.blue {
	color: #1a4c96;
  border-color: #1a4c96;
}

.green {
	color: #2b9d6a;
  border-color: #2b9d6a;
}