@import 'scss/vars.scss';

.headerTabs {
  display: flex;
  font-size: 0.875rem;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 5px;

	@media screen and (max-width: 800px) {
    display: none;
  }

  > li + li {
    margin-left: 2rem;
  }

  button {
		font: inherit;
    border-bottom: 2px solid transparent;
    padding-bottom: .25rem;
    transition: border-bottom var(--transition-speed);

    &:hover,
    &.active {
      border-bottom: 2px solid var(--side-color);
    }
  }
}