@import 'scss/vars.scss';

.header {
  background: linear-gradient(90deg, #f4f5f7 12.5%, #eeeeef 100%);
  box-shadow: 0px 11px 30px -10px rgba(0, 0, 0, 0.15);
	position: relative;
	z-index: 2;
	user-select: none;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
}

.date {
  margin-top: 0.4375rem;

  @media screen and (max-width: 1070px) {
    margin-top: 0.3rem;
  }
}

.location {
  margin-top: 0.75rem;

  @media screen and (max-width: 1070px) {
    margin-top: 0.55rem;
  }
}

.teamScore {
	font: 700 4.75rem var(--font-comfortaa);
	padding-top: 7px;
  width: 7rem;
  text-align: center;

  @media screen and (max-width: 1070px) {
    font-size: 3.4rem;
  }
}

.scoresWrapper {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
}

.scoresListWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0 3px;

  > div:first-of-type {
    margin-left: 2px;
  }

  > div:last-of-type {
    margin-right: 2px;
  }

  > button {
    margin-bottom: 3px;
  }
}

::-webkit-scrollbar {
  height: 0;
}

@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: none;
  }
}
