@import 'scss/vars.scss';

.field {
  grid-area: field;
  background: no-repeat url('../../../images/plays_bg.jpg') center / 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  border-top: 6px solid #e5e5e5;

  > button:last-child {
    display: none;
  }

  @media screen and (max-width: 800px) {
    height: auto;
    aspect-ratio: 16 / 9;
    border-top: 0.5px solid #cdcccc;

    > button:last-child {
      display: inline-block;
    }
  }
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		// height: 209px;
		height: auto;
		aspect-ratio: unset;
		border-top: unset;
		height: calc(100vh - 26px - 70px - 28px - var(--landscape-nav-height));
		// border-top: 0.5px solid #cdcccc;
	
		> button:last-child {
			display: inline-block;
		}
	}
}

.grid {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  top: calc(43 * 100% / 330);
  width: calc(102 * 100% / 746);
  height: calc(148 * 100% / 330);
}

.ball,
.shadow {
  position: absolute;
  border-radius: 50%;

  &.onTop {
    z-index: 11;
  }
}

.ball {
  background: no-repeat url('../../../images/ball.png') center / cover;
}

.shadow {
  background: no-repeat url('../../../images/ball_shadow.png') center / cover;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 0.875rem 1.375rem;

  @media screen and (max-width: 1151px) {
    padding-right: 1rem;
  }
}

.releaseData {
  width: 6.5625rem;

  @media screen and (max-width: 1151px) {
    width: 5.9rem;
  }
}

.speedData {
  @media screen and (max-width: 800px) {
    > .regularValue {
      display: none;
    }
  }
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		> .regularValue {
			display: none;
		}
	}
}

.subHeader {
  font: 400 0.875rem var(--font-nunito);
  color: var(--side-color);

  > .plateTitle {
    @media screen and (max-width: 800px) {
      display: none;
    }
		@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
			display: none;
		}
  }
}

.plateMobileHeader {
  display: none;
  font: 400 0.875rem var(--font-nunito);
  color: var(--side-color);

  @media screen and (max-width: 800px) {
    display: block;
  }
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		display: block;
	}
}

.releaseSpeed,
.releaseValue {
  width: 5.9rem;
  display: inline-block;

  @media screen and (max-width: 800px) {
    width: 6.1rem;
  }
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		width: 6.1rem;
	}
}

.releaseValue {
  font: 700 1.375rem var(--font-roboto);
  color: var(--red-color);

  @media screen and (max-width: 800px) {
    font-size: 20px;
  }
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		font-size: 20px;
	}
}

.regularValue,
.regularMobileValue {
  font: 700 0.875rem var(--font-athiti);
}

.regularMobileValue {
	display: none;

	@media screen and (max-width: 800px) {
    display: inline;
  }
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		display: inline;
	}
}

.dnone {
  @media screen and (max-width: 800px) {
    display: none;
  }
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		display: none;
	}
}
