.rectangles {
  position: relative;
  height: 26px;
  width: 36px;
}

.absolute {
  position: absolute;
}

.topRectangle {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.leftRectangle,
.rightRectangle {
  bottom: 0;
}

.leftRectangle {
  left: 0;
}

.rightRectangle {
  right: 0;
}