@import 'scss/vars.scss';

.teamNames {
  padding-bottom: 0.875rem;
	width: 6.1rem;
}

.guests {
  border-bottom: 2px solid var(--side-color);
  padding-bottom: 4px;
}

.owners {
  padding-top: 5px;
}