@import 'scss/vars.scss';

.selections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.types {
  display: flex;
  font-size: 1.125rem;

  > * {
    border-bottom: 2.15px solid transparent;
    transition: all var(--transition-speed);

    &:hover {
      cursor: pointer;
      border-bottom: 2.15px solid var(--side-color);
    }
  }

  > * + * {
    margin-left: 1.95rem;
  }
}

.teamName {
  font: 700 1.125rem var(--font-comfortaa);
  margin-left: 0.8rem;
}

.years {
  align-items: center;
  cursor: pointer;
  width: 5rem;
  margin-left: -1.22rem;
  text-align: center;
}

.active {
  border-bottom: 2.15px solid var(--side-color);
}

.bottom {
  display: flex;
  align-items: baseline;

  > * + * {
    margin-left: 0.5rem;

		@media screen and (max-width: 1040px) {
			margin-left: 0;
		}
  }
}

.batting {
  text-align: left;
  width: 4.375rem;
  font-size: 0.875rem;
}
