.filteredGraphsWrapper {
  margin-top: 5px;
  display: flex;
  column-gap: 5px;
}

.header {
  color: #1a4c96;
  font: 700 1.125rem var(--font-nunito);
  text-align: center;

  @media screen and (orientation: landscape) and (max-height: 950px) {
    line-height: 0.8;
  }
}

.title {
  padding: 0 0.5625rem;
  font: 700 0.875rem / 1.5 var(--font-nunito);
  text-align: center;
  user-select: none;

  @media screen and (orientation: landscape) and (max-height: 950px) {
    line-height: 1;
  }
}

.leftColumnWrapper {
  background-color: #fff;
  // flex: 1;
  width: 25%;

  top: 0;
  position: sticky;
  padding: 0.625rem 0 0.625rem 0.625rem;
  // align-self: flex-start;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  @media screen and (orientation: landscape) and (max-height: 950px) {
    padding-top: 6.125px;
  }

  > .header {
    padding-left: 0.4rem;
    position: relative;
  }

  > .body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: white;
    }

    &::-webkit-scrollbar-thumb {
      width: 6px;
      background: #e5e5e5;
      border: 2px solid white;
      border-radius: 5px;
    }

    // > .group {
    //   flex: 1;
    // }
  }
}

.textGroup {
  margin-top: 0.3rem;
}

.textGroupItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.4rem;
  font: 300 0.875rem / 1.2 var(--font-nunito);

  + .textGroupItem {
    margin-top: 0.3rem;

    @media screen and (orientation: landscape) and (max-height: 950px) {
      margin-top: 0.13rem;
    }
  }
}

.speedGroupItem {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaeaea;

  &:last-child {
    border-bottom: 1px solid #eaeaea;
  }

  > .classTitle {
    font: 300 0.875rem / 1.2 var(--font-nunito);
    user-select: none;
		transition: opacity .3s;

    @media screen and (orientation: landscape) and (max-height: 950px) {
      font: 300 0.875rem / 1.1 var(--font-nunito);
    }
  }

  > .barWrapper {
    width: 67%;
    position: relative;
		transition: opacity .3s;
  }

  .minSpeedTitle,
  .maxSpeedTitle {
    font: 300 0.625rem var(--font-nunito);
    position: absolute;
    top: -0.8125rem;
    user-select: none;
  }

  .minSpeedTitle {
    left: 0;
    translate: -50% 0;
  }

  .maxSpeedTitle {
    right: 0.125rem;
  }

  .leftSlider,
  .rightSlider {
    position: absolute;
    height: 100%;
    width: 1.125rem;
    cursor: grab;
    transition: scale 0.3s;

    &:hover {
      scale: 1.2;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .leftSlider:hover ~ .x1SpeedTitle,
  .rightSlider:hover ~ .x2SpeedTitle {
    scale: 1.2;
  }
	
	.leftSlider:hover ~ .x1SpeedTitle {
		translate: -25% 25%;
	}
	.rightSlider:hover ~ .x2SpeedTitle {
		translate: 25% 25%;
	}

  .x1SpeedTitle,
  .x2SpeedTitle {
    font: 300 0.625rem var(--font-nunito);
    position: absolute;
    bottom: -0.82rem;
    user-select: none;
    transition: scale 0.3s, translate 0.3s;
  }

  .x1SpeedTitle {
    translate: -25% 0;
  }

  .x2SpeedTitle {
    translate: 25% 0;
  }
}

.groupItem {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;

  + .groupItem {
    margin-top: 0.2rem;

    @media screen and (orientation: landscape) and (max-height: 950px) {
      margin-top: 0.13rem;
    }
  }

  > input {
    cursor: pointer;
    appearance: none;

    ~ span {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      border-radius: 7px;
      border: 1.5px solid #acacac;

      > span {
        display: none;
        width: 7px;
        height: 7px;
        background-color: #1a4c96;
        border-radius: 3.5px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:checked {
      accent-color: #1a4c96;
      border-width: 0;
      // appearance: none;

      ~ span {
        border-color: #1a4c96;

        > span {
          display: inline-block;
        }
      }
    }
  }

  .dataValue {
    display: flex;
    align-items: center;
  }
}

.itemBody,
.customItemBody {
  width: 92%;
  display: flex;
  justify-content: space-between;
  background: rgba(#eaeaea, 0.4);
}

.itemBody {
  padding: 2px 0.4rem 0;
  font: 300 0.875rem / 1.05 var(--font-nunito);
  user-select: none;

  @media screen and (orientation: landscape) and (max-height: 950px) {
    font: 300 0.875rem / 0.9 var(--font-nunito);
  }

  > p {
    white-space: nowrap;
    width: 82%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.customItemBody {
  padding: 0 1.2rem 0 0.5625rem;
  font: 300 0.875rem / 1.5 var(--font-nunito);
  background: white;
}

.rightColumnWrapper {
  // flex: 3;
  width: 75%;
  display: flex;
  flex-direction: column;
}

* + .graphsBlock {
  margin-top: 5px;
}

.graphsBlock {
  line-height: 0;

  > * + * {
    margin-top: 5px;
  }
}

.twinGraphsWrapper {
  line-height: 0;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  > div {
    width: 50%;

    @media screen and (max-width: 1023px) {
      width: unset;
    }
  }
}

.tempButton {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(225, 238, 243);
  border: 1px solid var(--side-color);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  transition: all 0.15s;
  box-shadow: 2px 2px 4px 1px #acacac;

  &:hover {
    background-color: lightgreen;
  }
}
