@import 'scss/vars.scss';

.wrapper {
  flex: 1;
  position: relative;

  @media screen and (max-width: 800px) {
    padding: 0.5rem 0 0 0 !important;
  }
}

.table {
  margin: 0 0.625rem;

  @media screen and (max-width: 800px) {
    margin: 0;
  }

  > .tableHeader {
    color: #838383;
    border-bottom: 0.5px solid rgb(16, 16, 16, 0.01);
    box-shadow: 0px 6px 6px -6px rgb(16, 16, 16, 0.07);
    display: flex;
    align-items: center;
    min-height: 2rem;

    @media screen and (max-width: 800px) {
      justify-content: space-between;
    }

    > div {
      font: 700 0.75rem var(--font-nunito);
      text-align: left;

      @media screen and (max-width: 800px) {
        font-size: 12px;
      }

      &:first-child {
        text-align: center;
        width: 2rem;
      }
      &:nth-child(2) {
        width: 14rem;
        padding-right: 0.5rem;
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        text-align: center;
        width: 2rem;
      }

      &:nth-child(7) {
        text-align: center;
        width: 4rem;
      }
    }
  }

  .rows {
    // max-height: calc(55vh + 7px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    position: relative;

    @media screen and (max-width: 800px) {
      // max-height: calc(var(--vh, 1vh) * 100 - 30.63px - 132px - 33px - 7px - 28px);
      max-height: calc(100vh - 30.63px - 132px - 33px - 7px - 28px);
    }

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .tableRow {
    min-height: 2rem;
    display: flex;
    align-items: center;

    @media screen and (max-width: 800px) {
      justify-content: space-between;
    }

    > div {
      text-align: left;
      font: 300 0.875rem var(--font-nunito);

      @media screen and (max-width: 800px) {
        font-size: 1rem;
      }

      &:first-child {
        text-align: center;
        width: 2rem;
      }
      &:nth-child(2) {
        width: 14rem;
        padding-right: 0.5rem;
      }
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        text-align: center;
        width: 2rem;
      }

      &:nth-child(7) {
        text-align: center;
        width: 4rem;
      }
    }

    &.withDate {
      min-height: 3.2rem;
      padding-top: 1.2rem;

      &[data-before] {
        position: relative;

        &::before {
          content: attr(data-before);
          left: 0;
          top: 0;
          position: absolute;
          width: 160%;
          text-align: left;
          padding-left: 5px;
          color: #838383;
          font: 400 0.75rem / 1.5rem var(--font-nunito);
        }
      }
    }

    &:nth-child(2n) {
      background-color:  rgba($color: #eaeaea, $alpha: .4);
    }
  }
}

.linkWrapper {
  position: absolute;
  right: 0.625rem;
  top: 1.5rem;

  @media screen and (max-width: 800px) {
    display: none;
  }

  > a {
    font: 300 0.875rem var(--font-nunito);
    text-decoration: underline;
    color: var(--side-color);
    margin-left: auto;
  }
}

.underlineHover > a:hover {
  border-bottom: 2px solid var(--side-color);
}
