@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;500;700&family=Comfortaa:wght@300;700&family=Nunito:wght@300;400;700&family=Roboto:wght@700&display=swap');
@import 'scss/vars.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @media screen and (max-width: 1230px) {
		font-size: 15px;
  }
	@media screen and (max-width: 1600px) and (max-height: 740px) {
		font-size: 15px;
	}
  @media screen and (max-width: 1151px) {
    font-size: 14px;
  }
}

body {
  font-family: var(--font-nunito);
  font-weight: 400;
  background-color: #e5e5e5;
  -webkit-tap-highlight-color: transparent;

	&::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #e5e5e5;
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background: #acacac;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
  }
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
}
