@keyframes backgroundChange {
  from {
    background: white;
  }
  to {
    background: #e0f0ff;
  }
}

@media screen and (max-width: 800px) {
  @keyframes backgroundChange {
    from {
      background: white;
    }
    to {
      background: rgba(#e0f0ff, 0.9);
    }
  }
}

@keyframes rise {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
