.red,
.green,
.blue,
.yellow, .black {
  font-weight: 600;
}

.red {
  color: var(--red-color);
}

.green {
  color: var(--green-color);
}

.blue {
  color: var(--side-color);
}

.yellow {
  color: var(--yellow-color);
}
