:root {
	--transition-speed: .6s;
	--side-color: #1A4C96;
	--red-color: #E2001C;
	--font-comfortaa: 'Comfortaa', cursive;
	--font-nunito: 'Nunito', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-athiti: 'Athiti', sans-serif;
}