:root {
	--transition-speed: .6s;
	--side-color: #1A4C96;
	--red-color: #E2001C;
	--green-color: #2B9D6A;
	--light-blue-color: #4AA0F0;
	--yellow-color: #F3D11A;
	--font-comfortaa: 'Comfortaa', cursive;
	--font-nunito: 'Nunito', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-athiti: 'Athiti', sans-serif;
	--desktop-nav-height: 2.1875rem;
	--landscape-nav-height: 2.4rem;
	// --landscape-nav-height: 3.0875rem;
}