.plays {
  height: 100%;
  display: grid;
  // gap: 6px;

  @media screen and (max-width: 800px) {
    display: block;
    background: #f4f5f7;
    // border-top: 0.5px solid #cdcccc;
    border-bottom: 0.5px solid #cdcccc;

    > div + div {
      border-top: 0.5px solid #cdcccc;
    }
  }
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    display: block;
    background: #f4f5f7;
    border-top: unset;
    border-bottom: unset;
    height: unset;
    // height: 209px;
    aspect-ratio: 16/9;
    width: 100%;

    > div + div {
      border-top: unset;
    }
  }
}

.pitch {
	gap: 5.5px;
  // grid-template: 9.3125rem  2.75rem  1fr /  8.5625rem    1fr      10.875rem 10.875rem;
  grid-template: 9.3125rem  2.75rem  18.4rem /  8.5625rem    1fr      10.875rem 10.875rem;
  // grid-template: 9.5rem 21.61328125rem / minmax(429.1px, 500px) minmax(248.4px, 467px);
  grid-template-areas:
    'spin spd top-left-video top-right-video'
    'values field top-left-video top-right-video'
    'values field bottom-video bottom-video';
}

.hitting {
  grid-template: 15.5rem 5rem 9.84rem  /  1fr     32.375rem;
	gap: 6px;
  // grid-template: 31.11328125rem / minmax(415px, 577px) minmax(262.5px, 390px);
  // grid-template: 30.125rem / minmax(415px, 577px) minmax(262.5px, 390px);
  grid-template-areas: 
	'field videos'
	'stats videos'
	'graph videos'
	;
	overflow: hidden;
  // grid-template-areas: 'bat stats';
  // grid-template-areas:
  //   'events bat stats'
  //   'footer footer footer';
}

.running {
  // grid-template: minmax(422px, 482px) 36px / minmax(157.53px, 187px) minmax(400px, 493px) minmax(155px, 269px);
  grid-template: 31.11328125rem / minmax(464.97px, 593px) minmax(212.53px, 356px);
  // grid-template: 30.125rem / minmax(464.97px, 593px) minmax(212.53px, 356px);
  // grid-template: 30.125rem 2.875rem / minmax(157.53px, 187px) minmax(400px, 493px) minmax(155px, 269px);
  grid-template-areas: 'field info';
  // grid-template-areas:
  //   'events field info'
  //   'footer footer footer';
}

.playsNoVideo {
  grid-template: 33rem / minmax(9.735rem, 19.94rem);
  // grid-template: 33rem / minmax(9.735rem, 19.94rem);
  grid-template-areas: 'events';

  > div > ul {
    overflow-y: auto;
  }

  > div > p {
    border-right: none;
  }

  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    display: none;
  }
}

.landscapeDisplayNone {
  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    display: none;
  }
}

.onlyMobileLandscape {
  display: none;

  @media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
    display: block;
  }
}
