.plays {
	height: 100%;
  display: grid;
	gap: 6px;
}

.pitch {
	grid-template: minmax(116px, 146px) minmax(300px, 330px) 36px / minmax(160px, 187px) minmax(336px, 481px) minmax(189px, 259px);
	grid-template-areas:
	'events spd spin'
	'events field field'
	'footer footer footer';
}