.wrapper {
  aspect-ratio: 467 / 354.14;
  background: url('/images/player_stats_field_bg.jpg') no-repeat center / 100% 100%;
	position: relative;

	> svg {
		display: inherit;
	}
}

.leftTextTitle,
.bottomTextTitle {
  font: 400 0.875rem 'Nunito', sans-serif;
}

.leftTextTitle {
  text-anchor: start;
}

.bottomTextTitle {
  text-anchor: end;
}

.animated {
  transition: all .3s;
	animation: growRadius .3s forwards;
}
.animatedEllipse {
  transition: all .3s;
	animation: growRadiusEllipse .3s forwards;
}

@keyframes growRadius {
	from {
		r:0;
	}
	to {
		r:8;
	}
}
@keyframes growRadiusEllipse {
	from {
		r:0;
	}
	to {
		r:15;
	}
}