.footer {
}

.rectanglesEllipsesWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  padding-right: 49px;
  font: 400 0.875rem var(--font-nunito);
  line-height: 1.36rem;
  // text-align: justify;
}
