.rectanglesEllipsesWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
	column-gap: 6px;

	&.noVideo {
		justify-content: flex-start;
		
		> .ellipses {
			margin-left: 2rem;

			> * + * {
				margin-left: 2rem;
			}
		}

		> *:last-child {
			margin-left: 2rem;
		}
	}
}

.ellipses {
	display: flex;
	align-items: flex-start;
	line-height: 0;
	column-gap: 6px;
}

.text {
  padding-right: 49px;
  font: 400 0.875rem var(--font-nunito);
  line-height: 1.36rem;
}
