@import 'scss/vars.scss';

.spin {
	grid-area: spin;
	display: flex;
	align-items: center;
	column-gap: 5px;
	background-color: white;
	padding: 5px 0;
	margin-left: 6px;
	
	> * {
		flex: 1 1 50%;
		
		&:last-child {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}
	}

	@media screen and (max-width: 800px) {
		margin-left: 0;
		padding: 0 10px;
		justify-content: space-between;
		aspect-ratio: 16 / 4;

		> * {
			flex: unset;

			&:first-child {
				height: auto;
				width: calc(100vw / 16 * 3);
			}
		}
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		margin-left: 0;
		padding: 0 10px;
		justify-content: space-between;
		aspect-ratio: 16 / 4;
	
		> * {
			flex: unset;
	
			&:first-child {
				height: auto;
				width: calc(100vw / 16 * 3);
			}
		}
	}
}

.subHeader {
  font: 400 0.875rem var(--font-nunito);
  color: var(--side-color);
}

.regularValue {
	font: 700 .875rem var(--font-athiti);
}

.breakValue {
	color: var(--red-color);
	font: 700 .875rem var(--font-athiti);
}

.dnone {
	@media screen and (max-width: 800px) {
		display: none;
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		display: none;
	}
}

.spinInfo {
	@media screen and (max-width: 800px) {
		flex-direction: row !important;
		align-items: center;
		flex: 1;
		margin-left: 10px;

		* {
			font-size: 12px;
		}

		> * + * {
			margin-left: 5px;
		}
	}
	@media screen and (orientation: landscape) and (max-width: 1000px) and (max-height: 800px) {
		flex-direction: row !important;
		align-items: center;
		flex: 1;
		margin-left: 10px;
	
		* {
			font-size: 12px;
		}
	
		> * + * {
			margin-left: 5px;
		}
	}
}