.graph {
  aspect-ratio: 307 / 450;
  height: auto;
  background-color: white;
}

.title {
  font: 700 0.875rem / 1.8 var(--font-nunito);
	fill: black;
}

.leftValues {
  font: 400 0.875rem / 1.8 var(--font-nunito);
	fill: black;
}

.footerText {
	font: 400 0.75rem / 1.5 var(--font-nunito);
	fill: black;
	text-anchor: middle;
}

.animated {
	transition: all .6s;
}