.wrapper {
  padding: 0 0.5625rem 2rem;
  display: flex;
	column-gap: 6px;
	background-color: white;

	@media screen and (orientation: portrait) and (max-width: 800px) {
    padding: 0;
		flex-direction: column;
		align-items: center;
  }
}
