.graph {
  aspect-ratio: 307 / 423;
  height: auto;
  background-color: white;
}

.title {
  font: 700 0.875rem / 1.8 var(--font-nunito);
	fill: black;
}

.leftValues {
  font: 400 0.875rem / 1.8 var(--font-nunito);
	fill: black;
}

.animated {
	transition: all .6s;
}